.TextDecoration {
    color: white;
    background-color: rgba(255, 0, 0, 0.7);
    width: 50vw;
    height: 50vh;
    font-size: 35px;
}


.TextLayout{
   display: flex;
   align-items: center;
   justify-content: center;
}

.ProgressBar{
    height: 30px; 
    background-color: green;
}

.Wrapper{
    display: flex;
    flex-direction: column;
}
